#container {
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	background-color: rgb(119, 145, 119);
	color: #0c0c0a;
	text-align: center;
	padding: 15px;
}

#nav {
	background-color: rgb(32, 42, 32);
	float: left;
	width: 160px;
	min-height: 800px;
	padding: 10px;
}

#content {
	background-color: rgb(47, 76, 47);
	float: left;
	padding: 20px;
	width: 1000px;
	min-height: 780px;
}

#bask {
	background-color: rgb(115, 204, 140);
	float: left;
	width: 160px;
	min-height: 800px;
	padding: 10px;
}

#footer {
	clear: both;
	background-color: rgb(32, 88, 88);
	text-align: center;
	min-height: 40px;
}
